<div class="container-fluid  mt-3">
    <div class="row mt-3 mb-3">
        <div class="container-fluid">
            <button class="btn btn-success" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span>Nuevo curso</span>
            </button>
        </div>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-light">
                <form [formGroup]="form" (ngSubmit)="agregarcurso()">
                    <div class="input-group mb-3 mt-3">
                        <input formControlName="nombre_curso"  maxlength="255" type="text" class="form-control" id="curso_name" placeholder="Curso"
                            aria-label="Nombre del curso">
                        <span class="input-group-text"> </span>
                        
                        <input formControlName="n_estudiantes" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  max="100" min="0" maxlength="2" type="number" class="form-control" id="n_estudiante" placeholder="Cupos disponibles"
                            aria-label="Cupos disponibles">
                        <span class="input-group-text"> </span>
                        <input formControlName="nombre_doc" maxlength="255" type="text" class="form-control" id="docente" placeholder="Nombre docente"
                            aria-label="Nombre docente">
                    </div>
                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text"> </span>
                        <input formControlName="descrip"  maxlength="255" type="text" class="form-control" id="descrip" placeholder="Descripción"
                            aria-label="Descripción"> 
                        <span class="input-group-text"> </span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"> </span>
                        <input formControlName="nombre_temas"  maxlength="255" type="text" class="form-control" id="tema_name" placeholder="Nombre del tema"
                            aria-label="Nombre del tema">
                        <span class="input-group-text"> </span>
                    </div>
                    <div class="input-group mb-3">
                        <button [disabled]="this.form.invalid" class="btn btn-success" type="submit" id="agregartema">
                            <span>añadir curso</span>
                        </button>
                    </div>

                </form>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="table-responsive-sm ">
            <table class="table table-light table-striped table-bordered" id="Mtabla">
                <thead>
                    <tr>
                        <th>
                            Curso
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th>
                            Cupos disponibles
                        </th>
                        <th>
                            Docente
                        </th>
                    </tr>
                </thead>
                <tbody id="test-table">
                    <tr *ngFor="let curso of list_curso_docente">
                        <td>{{curso.nombre_curso}}</td>
                        <td>{{curso.descrip}}</td>
                        <td>{{curso.n_estudiantes}}</td>
                        <td>{{curso.nombre_doc}}</td>
                        <td><button class="btn btn btn-primary">Ver</button></td>
                        <td><button class="btn btn-success">Editar</button></td>
                        <td><button (click)="deletecursos(curso.id)" class="btn btn-danger" >Eliminar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>